@import '@fontsource/instrument-sans/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
*{
  box-sizing: border-box;
}


body{
  height: 100%;
  width: 100%;
  background-color:#F8F7F9;
}
/* Add this to your global CSS file */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A5568;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #edf2f7;
}

input {
  background-color: red;
}

h1 {
  text-align: center;
}
